<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        
    </style>
</head>
<body>
    <form action="/" method="POST" id="task_form" enctype="multipart/form-data">
        <label for="task">Task:</label><br>
        <input type="text" id="task" name="task" maxlength="255"><br> 
        
        <label for="date">Date:</label><br> 
        <input type="date" id="date" name="date"><br>
        
        <label for="status">Status:</label>
        <select id="status" name="status" form="task_form">
            <% statuses.forEach(function(status) { %>
                <option value=<%=status %>><%=status %></option>
            <% }); %>            
        </select><br>

        <label for="file">File:</label>
        <input type="file" id="file" name="file"><br>
        <input type="submit" value="Add">
    </form>
</body>
</html>



